html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/**
 * Medias queries breakpoints
 */
/**
 * Grid attributes
 */
/**
 * Grid
 */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.row {
  *zoom: 1;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.row .row {
  margin: 0 -20px;
}

[class*=col] {
  float: left;
  padding: 0 20px;
}

.col-m-1 {
  width: 8.33333%;
}

.col-m-2 {
  width: 16.66667%;
}

.col-m-3 {
  width: 25%;
}

.col-m-4 {
  width: 33.33333%;
}

.col-m-5 {
  width: 41.66667%;
}

.col-m-6 {
  width: 50%;
}

.col-m-7 {
  width: 58.33333%;
}

.col-m-8 {
  width: 66.66667%;
}

.col-m-9 {
  width: 75%;
}

.col-m-10 {
  width: 83.33333%;
}

.col-m-11 {
  width: 91.66667%;
}

.col-m-12 {
  width: 100%;
}

.col-m-push-0 {
  margin-left: 0%;
}

.col-m-push-1 {
  margin-left: 8.33333%;
}

.col-m-push-2 {
  margin-left: 16.66667%;
}

.col-m-push-3 {
  margin-left: 25%;
}

.col-m-push-4 {
  margin-left: 33.33333%;
}

.col-m-push-5 {
  margin-left: 41.66667%;
}

.col-m-push-6 {
  margin-left: 50%;
}

.col-m-push-7 {
  margin-left: 58.33333%;
}

.col-m-push-8 {
  margin-left: 66.66667%;
}

.col-m-push-9 {
  margin-left: 75%;
}

.col-m-push-10 {
  margin-left: 83.33333%;
}

.col-m-push-11 {
  margin-left: 91.66667%;
}

.col-m-push-12 {
  margin-left: 100%;
}

@media screen and (min-width: 768px) {
  .col-t-1 {
    width: 8.33333%;
  }

  .col-t-2 {
    width: 16.66667%;
  }

  .col-t-3 {
    width: 25%;
  }

  .col-t-4 {
    width: 33.33333%;
  }

  .col-t-5 {
    width: 41.66667%;
  }

  .col-t-6 {
    width: 50%;
  }

  .col-t-7 {
    width: 58.33333%;
  }

  .col-t-8 {
    width: 66.66667%;
  }

  .col-t-9 {
    width: 75%;
  }

  .col-t-10 {
    width: 83.33333%;
  }

  .col-t-11 {
    width: 91.66667%;
  }

  .col-t-12 {
    width: 100%;
  }

  .col-t-push-0 {
    margin-left: 0%;
  }

  .col-t-push-1 {
    margin-left: 8.33333%;
  }

  .col-t-push-2 {
    margin-left: 16.66667%;
  }

  .col-t-push-3 {
    margin-left: 25%;
  }

  .col-t-push-4 {
    margin-left: 33.33333%;
  }

  .col-t-push-5 {
    margin-left: 41.66667%;
  }

  .col-t-push-6 {
    margin-left: 50%;
  }

  .col-t-push-7 {
    margin-left: 58.33333%;
  }

  .col-t-push-8 {
    margin-left: 66.66667%;
  }

  .col-t-push-9 {
    margin-left: 75%;
  }

  .col-t-push-10 {
    margin-left: 83.33333%;
  }

  .col-t-push-11 {
    margin-left: 91.66667%;
  }

  .col-t-push-12 {
    margin-left: 100%;
  }
}
@media screen and (min-width: 1100px) {
  .col-s-1 {
    width: 8.33333%;
  }

  .col-s-2 {
    width: 16.66667%;
  }

  .col-s-3 {
    width: 25%;
  }

  .col-s-4 {
    width: 33.33333%;
  }

  .col-s-5 {
    width: 41.66667%;
  }

  .col-s-6 {
    width: 50%;
  }

  .col-s-7 {
    width: 58.33333%;
  }

  .col-s-8 {
    width: 66.66667%;
  }

  .col-s-9 {
    width: 75%;
  }

  .col-s-10 {
    width: 83.33333%;
  }

  .col-s-11 {
    width: 91.66667%;
  }

  .col-s-12 {
    width: 100%;
  }

  .col-s-push-0 {
    margin-left: 0%;
  }

  .col-s-push-1 {
    margin-left: 8.33333%;
  }

  .col-s-push-2 {
    margin-left: 16.66667%;
  }

  .col-s-push-3 {
    margin-left: 25%;
  }

  .col-s-push-4 {
    margin-left: 33.33333%;
  }

  .col-s-push-5 {
    margin-left: 41.66667%;
  }

  .col-s-push-6 {
    margin-left: 50%;
  }

  .col-s-push-7 {
    margin-left: 58.33333%;
  }

  .col-s-push-8 {
    margin-left: 66.66667%;
  }

  .col-s-push-9 {
    margin-left: 75%;
  }

  .col-s-push-10 {
    margin-left: 83.33333%;
  }

  .col-s-push-11 {
    margin-left: 91.66667%;
  }

  .col-s-push-12 {
    margin-left: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .col-l-1 {
    width: 8.33333%;
  }

  .col-l-2 {
    width: 16.66667%;
  }

  .col-l-3 {
    width: 25%;
  }

  .col-l-4 {
    width: 33.33333%;
  }

  .col-l-5 {
    width: 41.66667%;
  }

  .col-l-6 {
    width: 50%;
  }

  .col-l-7 {
    width: 58.33333%;
  }

  .col-l-8 {
    width: 66.66667%;
  }

  .col-l-9 {
    width: 75%;
  }

  .col-l-10 {
    width: 83.33333%;
  }

  .col-l-11 {
    width: 91.66667%;
  }

  .col-l-12 {
    width: 100%;
  }

  .col-l-push-0 {
    margin-left: 0%;
  }

  .col-l-push-1 {
    margin-left: 8.33333%;
  }

  .col-l-push-2 {
    margin-left: 16.66667%;
  }

  .col-l-push-3 {
    margin-left: 25%;
  }

  .col-l-push-4 {
    margin-left: 33.33333%;
  }

  .col-l-push-5 {
    margin-left: 41.66667%;
  }

  .col-l-push-6 {
    margin-left: 50%;
  }

  .col-l-push-7 {
    margin-left: 58.33333%;
  }

  .col-l-push-8 {
    margin-left: 66.66667%;
  }

  .col-l-push-9 {
    margin-left: 75%;
  }

  .col-l-push-10 {
    margin-left: 83.33333%;
  }

  .col-l-push-11 {
    margin-left: 91.66667%;
  }

  .col-l-push-12 {
    margin-left: 100%;
  }
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  position: relative;
  height: 60px;
  background: transparent;
  z-index: 20;
}

.site-content {
  margin-top: 80px;
  min-height: calc(100% - 120px + 60px);
}

.footer {
  min-height: 60px;
  background: transparent;
  line-height: 60px;
  text-align: center;
  color: #95a5a6;
}

.search-form-index {
  height: 280px;
  position: relative;
  margin-top: 100px;
}
.search-form-index img {
  display: block;
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
}
.search-form-index .input-search {
  display: block;
  width: 100%;
  padding: 0 10px;
  margin: 10px auto;
}
.search-form-index p {
  text-align: center;
  color: #34495e;
  line-height: 1.4;
}

.search-results {
  margin-top: 20px;
}
.search-results .results-list {
  overflow: hidden;
  position: relative;
}
.search-results .results-list .results-item {
  margin-bottom: 20px;
  min-height: 100px;
  overflow: hidden;
}
.search-results .results-list .results-item a {
  display: block;
  color: #3498db;
  font-weight: bold;
  height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.search-results .results-list .results-item p {
  color: #7f8c8d;
  height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.search-results .results-list .results-item .results-item-meta {
  overflow: hidden;
  margin-top: 10px;
}
.search-results .results-list .results-item .results-item-meta li {
  float: left;
  display: inline-block;
  width: 33%;
  color: #34495e;
}
.search-results .results-list .results-item .results-item-infos {
  display: inline-block;
  width: 100%;
  height: 20px;
}
.search-results .results-list .results-item .results-item-infos li {
  display: inline-block;
}
.search-results .results-list .results-item .results-item-infos span {
  font-size: 12px;
  display: inline-block;
  color: #2c3e50;
}

@media screen and (min-width: 1100px) {
  .results-item-meta {
    overflow: hidden;
    margin-top: 0 !important;
  }
  .results-item-meta li {
    float: none;
    display: block;
    width: 100% !important;
    height: 33px;
    line-height: 33px;
    color: #34495e;
  }

  .results-item {
    height: 100px !important;
    max-height: 100px !important;
  }
  .results-item p {
    color: #7f8c8d;
    height: 50px !important;
  }
  .results-item .results-item-meta {
    overflow: hidden;
    margin-top: 10px;
  }
  .results-item .results-item-meta li {
    float: left;
    display: inline-block;
    width: 33%;
    color: #34495e;
  }
  .results-item .results-item-infos {
    display: inline-block;
    width: 100%;
    height: 20px;
  }
  .results-item .results-item-infos li {
    display: inline-block;
  }
  .results-item .results-item-infos span {
    font-size: 12px;
    display: inline-block;
    color: #2c3e50;
  }
}
.overlay {
  position: fixed;
  top: -100%;
  bottom: 100%;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.1);
  transition: all .3s;
  z-index: 10;
}

.header {
  padding: 0 20px;
  margin-bottom: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
}
.header > a {
  line-height: 60px;
  margin-left: 60px;
  font-size: 30px;
  color: #2c3e50;
}
.header > a img {
  vertical-align: middle;
}

.btn-toggle-menu {
  position: fixed;
  top: 10px;
  left: 20px;
  width: 40px;
  height: 40px;
  background: #F64E5E;
  border: none;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
  text-align: center;
}
.btn-toggle-menu span {
  position: absolute;
  vertical-align: middle;
  height: 5px;
  width: 20px;
  left: 10px;
  background: white;
  top: 20px;
  transform: translateY(-50%);
}
.btn-toggle-menu span:before, .btn-toggle-menu span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 20px;
  position: absolute;
  display: block;
  content: '';
  left: 10px;
  background: white;
}
.btn-toggle-menu span:before {
  top: -10px;
  left: 0;
}
.btn-toggle-menu span:after {
  bottom: -10px;
  left: 0;
}
.btn-toggle-menu:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.menu {
  display: block;
  position: fixed;
  width: 250px;
  top: 0;
  bottom: 0;
  left: -100%;
  background: #2c3e50;
  transition: all 0.3s;
  z-index: 20;
}
.menu span {
  display: block;
  height: 60px;
  line-height: 60px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
  background: #33485d;
  text-align: center;
  border-bottom: solid 1px #253443;
}
.menu a {
  display: block;
  line-height: 60px;
  border-bottom: solid 1px #253443;
  color: #fff;
  text-align: center;
  position: relative;
}
.menu a.active:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #e74c3c;
  left: 20px;
  top: 25px;
  z-index: 100;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #eb695c inset;
}

.with-sidebar .menu {
  left: 0;
}
.with-sidebar .overlay {
  top: 0;
  bottom: 0;
}

.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 60px;
  z-index: 10;
  border-top: 0;
  background: #fff;
  padding: 0 20px;
}
.sticky input {
  max-width: 50%;
}

@media screen and (min-width: 1100px) {
  .btn-toggle-menu {
    display: none;
  }

  .header {
    overflow: hidden;
  }
  .header > a {
    margin-left: 0;
  }

  .menu {
    transition: none;
    display: inline-block;
    float: right;
    position: static;
    width: auto;
    margin-top: 0;
    background: transparent;
    height: 60px;
    overflow-y: auto;
  }
  .menu span {
    display: none;
  }
  .menu a {
    padding: 0 20px;
    display: inline-block;
    line-height: 60px;
    border-bottom: none;
    color: #2c3e50;
    text-align: center;
    position: relative;
    transition: color 0.3s;
  }
  .menu a.active {
    color: #e74c3c;
  }
  .menu a.active:before {
    display: none;
  }
  .menu a:hover {
    color: #e74c3c;
  }
}
form legend {
  font-size: 30px;
  color: #7f8c8d;
  letter-spacing: 1px;
  border-bottom: solid 1px #bdc3c7;
  display: block;
  width: 100%;
}

.field {
  position: relative;
  height: 72px;
  padding: 16px 0 8px 0;
}
.field .field-label {
  position: relative;
  margin: 0;
  display: block;
  color: #bfbfbf;
  line-height: 16px;
  font-size: 16px;
  font-weight: 400;
  transform: translateY(24px);
  transition: transform 0.3s, color 0.3s;
  transform-origin: 0 50%;
}
.field .field-input {
  position: relative;
  display: block;
  width: 100%;
  height: 32px;
  padding: 8px 0;
  line-height: 16px;
  font-family: Roboto;
  font-size: 16px;
  background: transparent;
  border: none;
  -webkit-appearance: none;
  outline: none;
}
.field .field-input:invalid {
  box-shadow: none;
}
.field::after, .field::before {
  content: '';
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: 6px;
  left: 0;
  background-color: #e6e6e6;
}
.field::after {
  background-color: #2980b9;
  transform: scaleX(0);
  transition: transform 0.3s;
}
.field.has-label .field-label {
  transform: translateY(0) scale(0.75);
}
.field.is-focused .field-label {
  color: #2980b9;
}
.field.field.is-focused::after {
  transform: scaleX(1);
}

.btn-submit {
  min-height: 36px;
  min-width: 64px;
  margin: 6px auto;
  padding: 0 8px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 16px;
}
.btn-submit.primary {
  background: #2980b9;
  color: #fff;
}
.btn-submit.success {
  background: #2ecc71;
  color: #fff;
}
.btn-submit.b-size {
  padding: 8px 16px;
}
