$input-label-focus-color: #2980b9;

form {

  legend {
    font-size: 30px;
    color: #7f8c8d;
    letter-spacing: 1px;
    border-bottom: solid 1px #bdc3c7;
    display: block;
    width: 100%;
  }

}

.field {
  position: relative;
  height: 72px;
  padding: 16px 0 8px 0;
  
  .field-label{
    position: relative;
    margin: 0;
    display: block;

    color:  #bfbfbf;
    line-height: 16px;
    font-size: 16px;
    font-weight: 400;

    transform: translateY(24px);
    transition: transform 0.3s, color 0.3s;
    transform-origin: 0 50%;
  }

  .field-input{
    position: relative;
    display: block;
    width: 100%;
    height: 32px;
    padding: 8px 0;

    line-height: 16px;
    font-family: Roboto;
    font-size: 16px;

    background: transparent;
    border: none;
    -webkit-appearance: none;
    outline: none;

    &:invalid {
      box-shadow: none;
    }
  }

  &::after, &::before{
    content:'';
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 6px;
    left: 0;

    background-color: #e6e6e6;
  }

  &::after{
    background-color: $input-label-focus-color;
    transform: scaleX(0);
    transition: transform 0.3s;
  }

  &.has-label .field-label{
    transform: translateY(0) scale(0.75);
  }

  &.is-focused .field-label{
    color: $input-label-focus-color;
  }

  &.field.is-focused::after{
    transform: scaleX(1);
  }
}

.btn-submit {
  min-height: 36px;
  min-width: 64px;
  margin: 6px auto;
  padding: 0 8px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 16px;

  &.primary {
    background: #2980b9;
    color: #fff;
  }

  &.success {
    background: #2ecc71;
    color: #fff;
  }

  &.b-size {
    padding: 8px 16px;
  }
}
