$header-background: transparent;
$header-height: 60px;
$offset-site-content: $header-height * 2;
$animation-duration: .3s;

html,
body {
  position: relative;
  height: 100%;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  position: relative;
  height: $header-height;
  background: $header-background;
}

.site-content {
  margin-top: 80px;
  min-height: calc(100% - #{$offset-site-content} + 60px);
}

.footer {
  min-height: $header-height;
  background: $header-background;
  line-height: $header-height;
  text-align: center;
  color: #95a5a6;
}

.search-form-index {
  height: 280px;
  position: relative;
  margin-top: 100px;

  img {
    display: block;
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
  }

  .input-search {
    display: block;
    width: 100%;
    padding: 0 10px;
    margin: 10px auto;


  }

  p {
    text-align: center;
    color: #34495e;
    line-height: 1.4;
  }

}
